.container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: #1a1a1a;
  overflow: hidden;
}

.linkWrapper {
  padding: 50px;
}

.linkWrapper:first-child {
  padding: 0 50px 50px;
}

.close {
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: transparent;
  border: none;
}

.close:focus-within .icon {
  transform: rotate(90deg);
}

.icon {
  width: 40px;
  height: 40px;
  fill: white;
  transition: transform 0.4s ease;
}

/* Menu Styles */
.menu {
  position: fixed;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  background-color: #000000dd;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transform: translateX(100%);
  transition: transform 0.4s ease;
}

.menu ul li a {
  color: #00ff00;
  font-size: 24px;
  text-decoration: none;
  transition: color 0.2s ease;
}

.menu ul li a:hover {
  color: #00ff80;
}

/* Open Menu State */
.menu-open .menu {
  transform: translateX(0);
}

@media screen and (min-width: 768px) {
  .container {
    position: sticky;
    left: auto;
    padding: 25px 30px;
    justify-content: space-around;
    gap: 25px;
    z-index: 999;
  }

  .close {
    display: none;
  }
}
